@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

:root {
    --primary-text-color: rgb(248, 248, 242);
    --secondary-text-color: #a0a0a0;
    --primary-bg-color: #282a36;
    --secondary-bg-color: #383a59;
    --primary-border-color: #3e3e3e;
    --secondary-border-color: #4e4e4e;
    --primary-link-color: rgb(189, 147, 249);
    --secondary-link-color: #00aacc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Fira Code", monospace;
    line-height: 1.5rem;
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    width: 100%;
}

p,
span,
li {
    color: var(--secondary-text-color);
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: var(--primary-link-color);
    font-weight: 500;
}

li {
    line-height: 1.9rem;
}

#container--main {
    max-width: 700px;
    margin: 0 auto;
    padding: 1rem;
}

#wrapper--hero {
    display: flex;
    align-items: center;
    gap: 4rem;
    background-color: var(--secondary-bg-color);
}

.section--page {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.section--page h2 {
    margin-top: 1rem;
}

#name,
#bio,
#email {
    margin: 2rem 0;
}

#bio a {
    font-weight: 300;
}

#name {
    font-size: 3rem;
    line-height: 1rem;
}

#email {
    color: var(--primary-text-color);
    transition: all 0.3s linear;
    font-size: 1rem;
}

#email:hover {
    color: var(--primary-link-color);
    text-decoration: underline;
}

#github--logo {
    fill: var(--primary-text-color);
}

#profile--picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

#socials--list {
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    column-gap: 1rem;
    flex-wrap: wrap;
    padding: 0.5rem 0;
}

#socials--list a {
    font-weight: 300;
    color: var(--secondary-text-color);
    font-size: 0.9rem;
    transition: all 0.3s linear;
}

#socials--list a:hover {
    font-weight: 100;
    color: var(--primary-link-color);
    font-size: 0.9rem;
    border-bottom: var(--primary-link-color) 2px solid;
}

#qualifications--list {
    margin: 1.5rem 0;
    list-style: none;
}

#qualifications--list h2 {
    margin-top: 1rem;
}

#qualifications--list a {
    color: var(--primary-text-color);
    transition: all 0.3s linear;
}

#qualifications--list a:hover {
    color: var(--primary-link-color);
    border-bottom: 2px solid var(--primary-link-color);
}

#wrapper--techstack__items {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 0.9em;
    margin-top: 2em;
}

.card--techstack {
    border: 1px solid var(--primary-link-color);
    border-radius: 5px;
    padding: 0.5em 1em;
    align-items: center;
}

.card--work-history {
    border: 1px solid var(--primary-link-color);
    border-radius: 5px;
    margin-top: 2em;
    /* margin-bottom: 3em; */
    padding: 2em;
}

#wrapper--projects {
    margin-top: 1rem;
}

.card--project {
    margin-top: 1em;
    border: 1px solid var(--primary-link-color);
    border-radius: 5px;
    padding: 1em;
}

.card--project a {
    color: var(--mainTextColor);
    transition: all 0.3s linear;
}

.card--project a:hover {
    color: var(--primary-link-color);
}

@media (max-width: 600px) {
    #container--main {
        padding: 0.5rem;
    }

    #wrapper--hero {
        flex-direction: column;
        gap: 1rem;
    }

    #profile--picture {
        width: 200px;
        height: 200px;
    }

    #section--page {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }

    /* #name {
        font-size: 2rem;
    } */

    /* #email {
        font-size: 0.8rem;
    } */

    #socials--list {
        justify-content: center;
    }

    #socials--list a {
        font-size: 0.8rem;
    }
}
