/* @import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap"); */

@font-face {
    font-family: "Fira Code";
    src: url("../assets/fonts/FiraCode-VariableFont_wght.ttf");
}

:root {
    --rgb-background: rgb(34, 33, 44);
    --rgb-comment: rgb(121, 112, 169);
    --rgb-selection: rgb(69, 65, 88);
    --rgb-foreground: rgb(248, 248, 242);
    --rgb-foreground-alt: rgb(188, 194, 205);

    --rgb-cyan: rgb(128, 255, 234);
    --rgb-green: rgb(138, 255, 128);
    --rgb-orange: rgb(255, 202, 128);
    --rgb-pink: rgb(255, 128, 191);
    --rgb-purple: rgb(149, 128, 255);
    --rgb-red: rgb(255, 149, 128);
    --rgb-yellow: rgb(255, 254, 128);

    --primary-bg-color: var(--rgb-background);
    --secondary-bg-color: var(--rgb-selection);

    --primary-border-color: var(--rgb-purple);

    --primary-link-color: var(--rgb-foreground);
    --secondary-link-color: var(--rgb-purple);

    --primary-text-color: var(--rgb-foreground);
    --secondary-text-color: var(--rgb-foreground-alt);

    --default-font-family: "Fira Code", monospace;

    --default-transition: all 0.3s ease;

    --default-border-radius: 5px;
    --border-radius-circle: 50%;

    --default-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--default-font-family), sans-serif;
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    width: 100%;
    line-height: 1.5;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding: 2rem 0;
    /* background-color: var(--secondary-bg-color); */
    /* box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15); */
}

.hero__avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: var(--primary-bg-color);
    border-radius: var(--border-radius-circle);
    box-shadow: var(--default-box-shadow);
    overflow: hidden;
}

.hero__avatar {
    width: 125px;
    height: 125px;
}

.hero__details-name {
    color: var(--rgb-purple);
    font-size: 3rem;
}

.hero__details-bio {
    margin-top: 0.25rem;
    color: var(--secondary-text-color);
}

.hero__details-email {
    margin-top: 2rem;
}

.hero__details-email-link {
    color: var(--primary-link-color);
    transition: var(--default-transition);
}

.hero__details-email-link:hover {
    color: var(--secondary-link-color);
}

.content-container {
    max-width: 700px;
    margin: 1rem auto;
    /* border: 2px solid red; */
}

.socials-container {
    padding: 1rem 0;
    margin: 1rem 2rem;
    /* border: 1px solid yellow; */
}

.socials__link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    /* border: 1px solid green; */
}

.socials__link-github {
    display: flex;
    font-size: 2.5rem;
    transition: var(--default-transition);
    fill: var(--primary-link-color);
}

.socials__link-github:hover {
    fill: var(--secondary-link-color);
}

.socials__link-download {
    background-color: #50fa7b;
    color: #000;
    padding: 10px 18px;
    border-radius: var(--default-border-radius);
    font-size: 1rem;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.socials__link-download:hover {
    background-color: rgba(80, 250, 123, 0.8);
}

.skills-container {
    padding: 1rem 0;
    /* border: 1px solid blue; */
}

.skills__list {
    margin: 1.5rem 0;
    list-style: none;
    line-height: 1.9;
    font-size: 0.95rem;
    color: var(--secondary-text-color);
}

.skills__list-item-link {
    color: var(--primary-text-color);
    transition: var(--default-transition);
}

.skills__list-item-link:hover {
    color: var(--secondary-link-color);
}

.tech-stack-container {
    padding: 1rem 0;
    /* border: 1px solid orange; */
}

.tech-stack__item-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1.5rem 0;
    font-size: 0.95rem;
    color: var(--secondary-text-color);
}

.tech-stack__item {
    border: 1px solid var(--primary-border-color);
    border-radius: var(--default-border-radius);
    box-shadow: var(--default-box-shadow);
    padding: 0.5em 1em;
    align-items: center;
}

.work-history-container {
    padding: 1rem 0;
    /* border: 1px solid green; */
}

.work-history__card {
    border: 1px solid var(--primary-border-color);
    border-radius: var(--default-border-radius);
    box-shadow: var(--default-box-shadow);
    margin: 1.5rem 0;
    padding: 2em;
}

.work-history__card-title {
    color: var(--primary-text-color);
    text-transform: uppercase;
}

.work-history__card-date-range {
    color: var(--primary-text-color);
    font-size: 0.95rem;
    text-transform: uppercase;
}

.work-history__card-details-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 1.9;
    font-size: 0.95rem;
    color: var(--secondary-text-color);
    margin-top: 1rem;
}

.projects-container {
    padding: 1rem 0;
    /* border: 1px solid purple; */
}

.projects__card {
    border: 1px solid var(--primary-border-color);
    border-radius: var(--default-border-radius);
    box-shadow: var(--default-box-shadow);
    padding: 0.5em 1em;
    margin: 1.5rem 0;
}

.projects__card-link {
    color: var(--secondary-text-color);
    font-size: 0.95rem;
    transition: var(--default-transition);
}

.projects__card-link:hover {
    color: var(--secondary-link-color);
}

@media (max-width: 600px) {
    .hero-container {
        flex-direction: column;
        gap: 1rem;
    }

    .hero__details-container {
        align-items: center;
        text-align: center;
    }

    .content-container {
        max-width: 100%;
        padding: 0 1.5rem;
    }
}
